# Python general
*.pyc
*.pyo
*.pyd
__pycache__/
venv/
env/
*.egg
*.egg-info/
cache/
dist/
build/
.site-packages/

# Archivos de configuración y credenciales
*.env
.env*
!.env.copy
config.yaml
!config.yaml.copy
*.secrets.json

# Django
db.sqlite3
media/
staticfiles/
static/
logs/
*.log

# Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/__pycache__/

# Docker
docker-compose.override.yml
.dockerignore

# Node.js y frontend
node_modules/
package-lock.json
yarn.lock

# Editor
.vscode/
.idea/
*.iml

# Test coverage reports
.coverage
htmlcov/

# Git configuraciones específicas
.gitignore
