[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
geopy = "*"
osmnx = "*"
networkx = "*"
folium = "*"
joblib = "*"
scikit-fuzzy = "*"
scikit-learn = "*"
scipy = "*"
psycopg = "*"
PyYAML = "*"
rtree = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.11"
