<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ruta Segura</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    {% load static %}

    <!-- Estilos de Leaflet (necesarios para el mapa) -->
    <link href="https://unpkg.com/leaflet/dist/leaflet.css" rel="stylesheet"/>

    <!-- Hoja de estilos para la página -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<div id="panel">
    <h2>Ruta Segura</h2>
    <p>Haz clic en el mapa para seleccionar el origen y luego el destino.</p>
    <div id="danger">Nivel de peligrosidad: --</div>
    <button id="resetBtn">Reiniciar</button>
</div>

<div id="map"></div>

<!-- Datos de incidentes en JSON -->
<div data-incidents='{{ incidents_json|safe }}' id="incident-data"></div>

<!-- Carga de scripts -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>

<script src="{% static 'js/map_common.js' %}"></script>

<script src="{% static 'js/incident.js' %}"></script>
<script src="{% static 'js/route.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
